body{
	color: gold;

	background-color: black;
}

a{
	color: orangered;
}

h1 {
	font-family: monospace;
	font-size: 60px;
	text-align: center;
	border-width: 6px;
	border-style: double;
	border-right-style: none;
	border-left-style: none;
	padding: 1em;
}

p {
	font-family: monospace;
	font-size: 13px;
	line-height: 3;
	text-align: center;
	width: 70%;
	position: relative;
	left: 15%;
}

.bold {
	text-align: center;
	font-family: monospace;
	font-weight: 600;
	padding: 1%;
	margin: 1%;
	position: relative;
	left: 12%;
}

.note {
	text-align: center;
	font-size: 15px;
	font-family: monospace;
	font-weight: 600;
	width: 60%;
	padding: .5%;
	border: solid;
	position: relative;
	left: 20%;
}

.home {
	width: 100%;
}

.gem {
	width: 100%;
}

.cite {
	color: gold;
	font-family: monospace;
	font-size: 10px;
	text-align: center;
	width: 70%;
	position: relative;
	left: 15%;
}